
$primary: #D47FFC;
$secondary: #D9d9d9;

body {
    background-color: whitesmoke;
    color: $secondary;
}

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary
);

.navnav {
    background-color: $primary;
    color: $secondary;
}


@import "~bootstrap/scss/bootstrap";