@import "~bootstrap/scss/bootstrap";

$primary: #D47FFC;
$secondary: #D9d9d9;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary
);

.navnav {
    background-color: $primary;
    color: $secondary;
}

body {
    background-color: #85b3c2;
    color: $secondary;
}
