{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block header %}
    {% include '_navbar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    {# assets/images/logo.png was copied to public/build/images/logo.png #}
    <img src="{{ asset('build/images/logo.png') }}" alt="logo qu'il est bien">
{% endblock %}