<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Email de Wild Series{% endblock %}</title>
</head>
<body>
{% block body %}
    Hello, il y a du neuf sur Wild Series !
{% endblock %}
</body>
</html>